In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'C:\\Users\\efrisch\\BootCamp\\homework\\Tableau-Challenge'

In [7]:
files = []
for file in os.listdir('data/'):
    if file.startswith("JC"):
        files.append(file)

In [12]:
df = pd.read_csv('data/'+files[0])
df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0

In [13]:
len(df)

7479

In [30]:
df = pd.DataFrame()
for file in files:
    temp = pd.read_csv('data/'+file)
    temp.columns = [col.lower() for col in temp.columns]
    cols = temp.columns
    if 'bike id' in cols:
        temp = temp.rename(columns={"bike id":"bikeid", "trip duration":"tripduration", "start time":"starttime",
                             "stop time":"stoptime","user type":"usertype"})    
    df = pd.concat([df,temp])

In [52]:
df.head()

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [32]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

False

In [34]:
stations = df[['start station id','start station name', 'start station latitude','start station longitude']]

In [36]:
stations.columns = stations.columns.str.replace("start ","")

In [37]:
stations2 = df[['end station id','end station name', 'end station latitude','end station longitude']]

In [38]:
stations2.columns = stations2.columns.str.replace("end ","")

In [39]:
stations = pd.concat([stations,stations2])

In [44]:
stations.drop_duplicates(inplace=True)

In [45]:
stations.reset_index(inplace=True, drop=True)

In [53]:
stations.head()

   station id   station name  station latitude  station longitude
0        3186  Grove St PATH         40.719586         -74.043117
1        3209   Brunswick St         40.724176         -74.050656
2        3195        Sip Ave         40.730743         -74.063784
3        3211     Newark Ave         40.721525         -74.046305
4        3187      Warren St         40.721124         -74.038051

In [55]:
new_df = df[['tripduration','starttime','stoptime','start station id','end station id','bikeid','usertype','birth year','gender']]

In [58]:
stations.to_csv("Resources/stations.csv", sep="|")

In [59]:
new_df.to_csv("Resources/trip_data.csv",sep="|")